In [172]:
%pylab inline

Populating the interactive namespace from numpy and matplotlib

In [173]:
from datetime import date
import numpy as np
import pandas as pd
from matplotlib import pyplot as plt

In [174]:
def get_names(dataframe):
    cols = dataframe.columns
    s = set()
    for col in cols:
        s.add(col[:col.find("_")])
    return list(s)

In [175]:
data = pd.read_csv("./data.csv")

In [176]:
data.set_index("Date", inplace=True)
data.index = pd.to_datetime(data.index)

In [177]:
all_stocks = get_names(data)
use_stocks = ["GOOGL", "AAPL", "NFLX", "AMZN", "QCOM"]

In [178]:
def select_stocks(dataframe, stocks):
    transformed = list(map(lambda x : x + "_Cls%", stocks))
    selected = dataframe[transformed]
    selected.columns = stocks
    return selected

In [179]:
selected = select_stocks(data, use_stocks)
selected_all = select_stocks(data, all_stocks)

In [180]:
selected["2015-1-1" : "2017-1-1"].corr()

          GOOGL      AAPL      NFLX      AMZN      QCOM
GOOGL  1.000000  0.416795  0.374801  0.591385  0.238788
AAPL   0.416795  1.000000  0.274691  0.357770  0.344152
NFLX   0.374801  0.274691  1.000000  0.350237  0.178725
AMZN   0.591385  0.357770  0.350237  1.000000  0.169544
QCOM   0.238788  0.344152  0.178725  0.169544  1.000000

In [193]:
selected_all[["GOOGL", "AAPL", "QCOM", "AMZN", "T", "NFLX", "SPY", "USB", "JPM", "MSFT", "CAT"]]["2015-1-1" : "2017-1-1"].corr()

,GOOGL,AAPL,QCOM,AMZN,T,NFLX,SPY,USB,JPM,MSFT,CAT
GOOGL,1.000000,0.416795,0.238788,0.591385,0.336152,0.374801,0.587426,0.377553,0.374936,0.567489,0.262104
AAPL,0.416795,1.000000,0.344152,0.357770,0.346669,0.274691,0.623257,0.458133,0.434869,0.509821,0.393876
QCOM,0.238788,0.344152,1.000000,0.169544,0.298743,0.178725,0.507809,0.407578,0.385309,0.367178,0.366524
AMZN,0.591385,0.357770,0.169544,1.000000,0.284481,0.350237,0.502194,0.333731,0.326273,0.511568,0.237850
T,0.336152,0.346669,0.298743,0.284481,1.000000,0.185039,0.589626,0.408969,0.370577,0.382341,0.388112
NFLX,0.374801,0.274691,0.178725,0.350237,0.185039,1.000000,0.400815,0.293826,0.279328,0.305914,0.213801
SPY,0.587426,0.623257,0.507809,0.502194,0.589626,0.400815,1.000000,0.798633,0.801877,0.691598,0.641215
USB,0.377553,0.458133,0.407578,0.333731,0.408969,0.293826,0.798633,1.000000,0.885137,0.504135,0.555224
JPM,0.374936,0.434869,0.385309,0.326273,0.370577,0.279328,0.801877,0.885137,1.000000,0.495156,0.568028
MSFT,0.567489,0.509821,0.367178,0.511568,0.382341,0.305914,0.691598,0.504135,0.495156,1.000000,0.403874
CAT,0.262104,0.393876,0.366524,0.237850,0.388112,0.213801,0.641215,0.555224,0.568028,0.403874,1.000000

In [190]:
all_stocks

['QCOM',
 'T',
 'AMZN',
 'IBM',
 'VZ',
 'GILD',
 'SLB',
 'HON',
 'CAT',
 'JPM',
 'CMCSA',
 'BRK.B',
 'AMGN',
 'LLY',
 'TXN',
 'CELG',
 'PG',
 'PEP',
 'LMT',
 'HD',
 'UNH',
 'WBA',
 'GS',
 'SPY',
 'WFC',
 'DWDP',
 'UPS',
 'UNP',
 'COST',
 'BA',
 'MCD',
 'TMO',
 'INTC',
 'XOM',
 'C',
 'NVDA',
 'JNJ',
 'GE',
 'NFLX',
 'CRM',
 'AXP',
 'USB',
 'DIS',
 'CVS',
 'KO',
 'AAPL',
 'CSCO',
 'MDT',
 'MS',
 'WMT',
 'GOOGL',
 'BMY',
 'NEE',
 'PFE',
 'ORCL',
 'SBUX',
 'TWX',
 'CVX',
 'MSFT',
 'MMM',
 'NKE',
 'BAC',
 'MO',
 'ABT',
 'MRK',
 'ADBE',
 'UTX',
 'ACN']